@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');



.table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;

}

.tableData {
   
    border-collapse: collapse;
    border-spacing: 0; 
    
    border-radius: 12px 12px 0 0;
    overflow: hidden;

}

.tableBasic {

    border-collapse: collapse;
    border-spacing: 0;

    border-radius: 12px 12px 0 0;
    overflow: hidden;

}

.td,
.th {
    padding: 15px 20px;
    text-align: center;


}

.th {
    background-color: #2F4050;
    color: #fafafa !important;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}

.tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

.tr:nth-child(even) {
    background-color: #eeeeee;
}

.btnAll,.btn { 
 appearance: button;
            backface-visibility: hidden;
            background-color: #2F4050;
            border-radius: 6px;
            border-width: 0;
            box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
            font-size: 100%;
            height: 44px;
            line-height: 1.15;
            margin: 12px 0 0;
            outline: none;
            overflow: hidden;
            padding: 0 25px;
            position: relative;
            text-align: center;
            text-transform: none;
            transform: translateZ(0);
            transition: all .2s, box-shadow .08s ease-in;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
        }
    
.btn:disabled {
            cursor: default;
}
    
.btn:focus {
            box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.btnAll{
    margin: 15px 0;
    left: 280px;
}


