.laga,.aa, .react-datepicker__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.contentpopup {
    display: flex;
    
       
}



.laga input,select {
    margin-bottom: 7px;
    padding: 10px 15px;
    border-radius: 4px;
}

.laga button {
    width: 100px;
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 4px;
}

.dugmad {
    margin-bottom: 6px;
}





