.app {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: linear-gradient(90deg, rgba(2, 161, 134, 1) 0%, rgba(47, 64, 80, 1) 62%); */
    background: linear-gradient(to right bottom, #181c1d, #28454a, #347379, #3fa5a7, #4ddad4);
    background-size: cover;
    background-position: center;
    flex: auto;
}

.app form {
    
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

.app h1 {
    color: #19716b;
    text-align: center;
}

.app button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #19716b;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}

.app .error{
    color: red;
}

#myForm{
    display: flex;
    
}



.signupSelects{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 70px;
}

.signupSelect{
width: 150px;
margin-top: 30px;
}

.dontHave{
    text-decoration: none;
    margin-left: 5px;
    color: #19716b;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  
  

}

header img {
    width: 5%;
    position:relative;
    left: 70px;
    top: 20px;
    
}